

html {
  scroll-behavior: smooth;
}

/* price links */

.price-link {
letter-spacing: .5px;
}
.price-link:hover {
    color: #ccc;
}

/* class for white text in color blocks */
.white p, .white h1, .white h2, .white h3, .white h4, .white h5, .white h6, .white a, .white li{
color: white;
}

/* sub-sub menu color */
.drop_down .second .inner ul li.sub ul li a {
color: #333;
text-transform: none;
}

h1,h2,h3,h4,h5,h6{
margin-bottom:6px;
}

.single-post .content_bottom{ display:none; }

/* beefer white font on color backgrounds */
.white p{
font-weight: 600;
}

header.light:not(.sticky):not(.scrolled) .header_bottom_right_widget_holder a.qbutton {
background-color: #27a0d5 !important;
}

/* removed header top left widget for better view on mobile */
@media only screen and (max-width: 1030px){
.header_top .left {
display: none;
}
}

/* center all text on mobile 
@media only screen and (max-width: 767px){
h1, h2, h3, h4, h5, h6{
text-align:center;
}
ul{
text-align:left;
}
.textwidget{
text-align:center;
}
.wpb_single_image .vc_single_image-wrapper {
    display: block;
    text-align: center;
}
.wpb_wrapper{
    text-align: center;
}
}*/

@media only screen and (max-width: 1030px){
nav.mobile_menu {
text-align: center;
}
}

.qode_icon_shortcode.pull-left{
float: none;
}

/* fix orange menu cta button position on ipad 
@media only screen and (max-width: 1030px){
.header_bottom_right_widget_holder {
padding-top: 30px;
}
}*/

.testimonial_text_inner {
font-style: italic;
}

.q_image_with_text_over .shader {
  background-color: transparent;
  border-bottom:1px solid #eee;
}

/* link color for headers */
h1 a, h2 a, h3 a, h4 a, h5 a{
color: #27a0d5;
}

.resource_list {
   padding-top: 15px;
   padding-bottom: 15px;
   margin-top: -7px;
   background-color: #fff;
   box-shadow: 0 10px 50px  #ddd;
   border-bottom-left-radius:6px;
   border-bottom-right-radius:6px;
}

.q_counter_holder.center {
padding: 20px 0px;
}

/* class to hide built sections */
.hidden{
display:none;
}

/* fix for icons with title on hover */
.q_icon_with_title .icon_holder .fa-stack:hover{
border: 2px solid #dddddd !important;
}

/* class for mobile only */
@media only screen and (min-width: 769px){
.mobile_only {
display: none;
}
}

/* class for desktop only */
@media only screen and (max-width: 768px){
.desktop_only {
display: none;
}
}

/* center right align images on mobile */
@media only screen and (max-width: 1030px){
.wpb_single_image.vc_align_right {
  text-align: center;
}
}

/* hide title text */
.title .title_holder, .title_subtitle_holder {
  display: none;
}

/* darken blog search bar and category bars */
.widget.widget_archive select, .widget.widget_categories select, .widget.widget_text select, .widget #searchform {
width: 100%;
  background-color: #eee;
}

/* blog page height fixes */
.blog_holder.masonry article .post_text .post_text_inner{
  padding: 17px 15px 0 15px;
  min-height: 105px;
  text-align: center;
}

/* menu width on small screen fix */
@media only screen and (max-width: 1340px){
nav.main_menu>ul>li>a{
  padding: 0 8px;
  font-size: 13px;
}
}

/* menu width on tablet fix */
@media only screen and (max-width: 1130px){
nav.main_menu>ul>li>a{
  padding: 0 7px;
  font-size: 12px;
}
}

/* new tag for menu item */
.new{
background-image: url("https://www.shortstack.com/wp-content/uploads/2015/06/new-menu-tag.png");
background-size: 32px 22px;
background-repeat:no-repeat !important;
background-position:right top !important;
}

/* hide strange left padding on accordions */
.q_accordion_holder.boxed div.accordion_content {
  padding-left: 0;
}

/* larger line height for cta sections */
.call_to_action.with_icon .text_wrapper .call_to_action_text {
  line-height: 26px;
}

/* mailchimp form styling */
.mc4wp-form input[type=date], 
.mc4wp-form input[type=email], 
.mc4wp-form input[type=tel], 
.mc4wp-form input[type=text], 
.mc4wp-form input[type=url], 
.mc4wp-form select, 
.mc4wp-form textarea {
    height: 37px;
    border: none;
    background-color: #eee;
    padding: 0 10px;
    font-family: 'open sans', sans-serif;
}

.mc4wp-form button, 
.mc4wp-form input[type=button], 
.mc4wp-form input[type=submit] {
    border:1px solid #27a0d5;
    color: #27a0d5;
    background-color: transparent;
    padding: 10px 16px;
    border-radius: 2px;
    font-family: 'open sans',sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    outline: none;
    box-shadow:0 6px 4px -4px rgba(0, 0, 0, 0.2);
}

.mc4wp-form button:hover, 
.mc4wp-form input[type=button]:hover, 
.mc4wp-form input[type=submit]:hover {
   box-shadow:0 12px 12px -8px rgba(0, 0, 0, 0.4);
}

.mc4wp-form button:active, 
.mc4wp-form input[type=button]:active, 
.mc4wp-form input[type=submit]:active {
    outline: none;
}

.mc4wp-form input[type=date]:focus, 
.mc4wp-form input[type=email]:focus, 
.mc4wp-form input[type=tel]:focus, 
.mc4wp-form input[type=text]:focus, 
.mc4wp-form input[type=url]:focus{
    outline: none !important;
}

.q_progress_bar {
    margin: 0;
}

.q_progress_bar .progress_title_holder {
    display: none;
}

.q_progress_bar .progress_content_outer {
    margin-top: 8px;
}

.q_progress_bar .progress_content{
    background-color: #27a0d5;
}

/* hide extra category in sidebar */
label.screen-reader-text {
display:none;
}

.mashsb-container {
    padding-top: 20px;
}

/* center category filter on blog */
.filter_holder ul li {
    display: inline-block;
    float: none;
    padding-bottom: 6px;
}

.side_menu_slide_from_right .side_menu {
    width: 20%;
}

/* gravity form styling */
.gform_wrapper .chzn-container, body .gform_wrapper input[type=email], body .gform_wrapper input[type=number], body .gform_wrapper input[type=password], body .gform_wrapper input[type=tel], body .gform_wrapper input[type=text], body .gform_wrapper input[type=url], body .gform_wrapper select, body .gform_wrapper textarea {
    height: 40px;
    background-color: #eee;
    padding: 10px;
    font-family: 'open sans', sans-serif;
    font-size:18px;
    color:#333;
    line-height: normal;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
    background-color: #27a0d5;
    border: none;
    color: #ffffff;
    padding: 20px 24px;
    border-radius: 2px;
    font-family: 'open sans',sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    outline: none;
    line-height:0;
}

.gform_wrapper .gform_footer input.button:hover, .gform_wrapper .gform_footer input[type=submit]:hover {
    background-color: #278fbb;
}

.single-post .blog_single p {
    font-size: 16px;
    line-height: 30px;
}

blockquote {
    padding: 20px 30px;
    padding-bottom: 50px;
    font-weight: 400;
    margin-bottom: 18px;
}

blockquote p{
    font-size: 24px !important;
    line-height: 36px !important;
    font-style: italic;
    font-weight: 300;
}

blockquote i.fa {
    color: #27a0d5;
}

.header_bottom {
    padding: 0 25px;
}

.q_font_awsome_icon i{
    color: #27a0d5; }

.qbutton {
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -kthtml-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.qbutton:hover {
box-shadow: 0 12px 12px -8px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0 12px 12px -8px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0 12px 12px -8px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 600px) { 
  .qbutton.large{
    font-size:14px !important;
}
 .qbutton.medium{
    font-size: 12px;
}
  .qbutton{
    word-break: break-word !important;
    white-space: inherit !important;
    text-align: center !important;
    height: auto !important;
  }
}

@media only screen and (min-width: 769px) {
.img_right{
margin-right: -200px;
}
.img_left{
margin-left: -200px;
}
}

.q_counter_holder p.counter_text {
    margin: 0;
}

.header-widget.widget_nav_menu ul.menu li a:hover{
color: #333 !important;
}

.header_top {
    background: #3bbced;
    background: -moz-linear-gradient(-45deg, #3bbced 0%, #83ee83 100%);
    background: -webkit-linear-gradient(-45deg, #3bbced 0%,#83ee83 100%);
    background: linear-gradient(135deg, #3bbced 0%,#83ee83 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bbced', endColorstr='#83ee83',GradientType=1 );
}


/* google custom search styling */
.gsc-results-wrapper-overlay {
    top: 16% !important; 
    height: 70% !important; }

.gsc-control-cse {
    padding: 0 !important; }

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding: 0 !important; }

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    padding: 10px 28px !important; }

.gsc-input-box {
    min-height: 36px !important; 
    border-radius: 3px; 
    margin-bottom: 5px; }

.gsc-search-box-tools .gsc-search-box .gsc-input {
    background-image: none !important; }

.gsc-control-cse .gs-result .gs-title{
    text-align: left; }

#related_posts_widget-2 .text{
padding: 7px 0; 
}

.sidebar .widget{
  border: 1px solid #eee !important;
  padding: 12px 20px !important;
}

.latest_post_text_inner h5 a{
  font-size: 13px;
  font-weight:600;
  display: block;
  line-height: 17px;
}

.latest_post_inner .post_infos{
font-size: 12px;
}

ul, ol { padding-left: 30px; list-style-position: outside; padding-bottom: 24px;}
.post_text ul, .post_text ol{font-weight: 600;}
.content ol li,.content ul li {padding-bottom:8px;}
.wpb_wrapper ul{padding-top:14px;}
.mobile_menu ul{text-align:inherit;}

.wp-caption-text{
   font-size: 13px;
   line-height: 22px;
   margin-top: 0;
   padding-bottom: 40px;
   font-style: italic;
   font-weight: 600;
}

.author_email{ display:none !important; }

.blog-cta{
   background-color: #b262d8;
   padding: 50px 40px 70px;
   margin: 20px 0 !important;
}

.blog-image-section{
   box-shadow: 0 10px 50px #ddd;
   border-radius: 10px;
   padding: 20px 20px 30px;
   margin: 40px 0 !important;
   margin-bottom: 60px !important;
}

/* blog author and date */
.post_content_holder .date{
display:block;
font-size: 16px;
color: #ccc;
font-weight: 400;
} 

.blog_holder article .post_info{
display:none;
}

.blog_single h2,.blog_single h3,.blog_single h4,.blog_single h5,.blog_single h6 {
    padding-top: 20px;
}

.footer-cta {
    background: #b166d5;
    padding-top: 70px;
    padding-bottom: 80px;
}


.testimonials_holder .flex-direction-nav {
    text-align: center;
}

.testimonial-cta{
    background-color: #9ee4f2;
    padding-top: 60px;
    padding-bottom: 60px;
}

.drop_down .second .inner ul {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.ig_action_bar.ig_hello .ig_button, .ig_action_bar.ig_hello input[type="submit"], .ig_action_bar.ig_hello input[type="button"] {
font-size: 13px;
}

/* shortened header top on mobile */
@media only screen and (max-width: 1030px){
.header_top .left, .header_top .right {
height: 34px;
}
nav.main_menu>ul>li>a {
    padding: 0 5px;
    font-size: 12px;
}
}

/* template banners */
#categories .premium::before{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 0;
    border-width: 0 44px 44px 0;
    border-style: solid;
    border-color: transparent #90b24a;
    z-index: 999999;
    content: "";
}

#categories .premium::after{
    position: absolute;
    top: 2px;
    right: 20px;
    display: block;
    width: 0;
    color: #fff;
    content: "\f005";
    font-family: 'fontawesome';
    font-size: 18px;
    z-index: 9999999;
}

.s2 h5.resource_list::before{
    position: absolute;
bottom: 18px;
left: 0;
display: block;
width: 0;
border-width: 0 0 44px 44px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 44px;
    border-left-width: 44px;
border-style: solid;
border-color: transparent #fff;
z-index: 999999;
content: "";
}

.s2 h5.resource_list::after{
    position: absolute;
bottom: 34px;
left: 5px;
display: block;
width: 0;
color: #fff;
content: "S2";
font-size: 14px;
z-index: 99999999;
}

#post-42987 .author_description_inner .image img {
display: none;
}