@font-face {
  font-family: 'ss-icon';
  src:  url('ss-icon.eot?2kkenu');
  src:  url('ss-icon.eot?2kkenu#iefix') format('embedded-opentype'),
    url('ss-icon.woff2?2kkenu') format('woff2'),
    url('ss-icon.ttf?2kkenu') format('truetype'),
    url('ss-icon.woff?2kkenu') format('woff'),
    url('ss-icon.svg?2kkenu#ss-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ss-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-abacus:before {
  content: "\e001";
}
.icon-action-alt:before {
  content: "\e003";
}
.icon-action:before {
  content: "\e002";
}
.icon-address-book:before {
  content: "\e004";
}
.icon-alarm-clock:before {
  content: "\e005";
}
.icon-align-left:before {
  content: "\e00e";
}
.icon-anchor:before {
  content: "\e014";
}
.icon-angle-circle-down:before {
  content: "\e015";
}
.icon-angle-circle-left:before {
  content: "\e016";
}
.icon-angle-circle-right:before {
  content: "\e017";
}
.icon-angle-circle-up:before {
  content: "\e018";
}
.icon-angle-double-down:before {
  content: "\e019";
}
.icon-angle-double-left:before {
  content: "\e01a";
}
.icon-angle-double-right:before {
  content: "\e027";
}
.icon-angle-double-up:before {
  content: "\e026";
}
.icon-angle-down:before {
  content: "\e025";
}
.icon-angle-left:before {
  content: "\e024";
}
.icon-angle-right:before {
  content: "\e023";
}
.icon-angle-square-down:before {
  content: "\e022";
}
.icon-angle-square-left:before {
  content: "\e021";
}
.icon-angle-square-right:before {
  content: "\e020";
}
.icon-angle-square-up:before {
  content: "\e01f";
}
.icon-angle-up:before {
  content: "\e01e";
}
.icon-arrow-long-right:before {
  content: "\e037";
}
.icon-arrow-align-bottom:before {
  content: "\e01d";
}
.icon-arrow-align-up:before {
  content: "\e028";
}
.icon-arrow-both-horizontal:before {
  content: "\e029";
}
.icon-arrow-both-vertical:before {
  content: "\e02a";
}
.icon-arrow-down:before {
  content: "\e02b";
}
.icon-arrow-left:before {
  content: "\e034";
}
.icon-arrow-long-down:before {
  content: "\e035";
}
.icon-arrow-long-left:before {
  content: "\e036";
}
.icon-arrow-long-up:before {
  content: "\e038";
}
.icon-arrow-right:before {
  content: "\e039";
}
.icon-arrow-square-down:before {
  content: "\e03a";
}
.icon-arrow-square-left:before {
  content: "\e03b";
}
.icon-arrow-square-right:before {
  content: "\e03c";
}
.icon-arrow-square-up:before {
  content: "\e03d";
}
.icon-arrow-up:before {
  content: "\e03e";
}
.icon-award-ribbon:before {
  content: "\e03f";
}
.icon-ban:before {
  content: "\e04c";
}
.icon-barcode:before {
  content: "\e904";
}
.icon-beer:before {
  content: "\e047";
}
.icon-bell:before {
  content: "\e046";
}
.icon-bomb:before {
  content: "\e045";
}
.icon-book-cover:before {
  content: "\e043";
}
.icon-book-text:before {
  content: "\e04f";
}
.icon-book:before {
  content: "\e044";
}
.icon-bookmark-plus:before {
  content: "\e051";
}
.icon-bookmark:before {
  content: "\e050";
}
.icon-box:before {
  content: "\e052";
}
.icon-bug:before {
  content: "\e053";
}
.icon-cake:before {
  content: "\e054";
}
.icon-calculator:before {
  content: "\e055";
}
.icon-calendar-check:before {
  content: "\e057";
}
.icon-calendar-empty:before {
  content: "\e058";
}
.icon-calendar-heart:before {
  content: "\e059";
}
.icon-calendar-star:before {
  content: "\e05a";
}
.icon-calendar:before {
  content: "\e056";
}
.icon-camera:before {
  content: "\e05b";
}
.icon-campaign-review:before {
  content: "\e1db";
}
.icon-cart-full:before {
  content: "\e05f";
}
.icon-cart:before {
  content: "\e05c";
}
.icon-chart-analytics:before {
  content: "\e061";
}
.icon-chart-bar:before {
  content: "\e062";
}
.icon-chart-pie:before {
  content: "\e063";
}
.icon-check-circle-filled:before {
  content: "\e1d8";
}
.icon-check-circle:before {
  content: "\e065";
}
.icon-check-square:before {
  content: "\e066";
}
.icon-check:before {
  content: "\e064";
}
.icon-circle:before {
  content: "\e067";
}
.icon-click:before {
  content: "\e1d6";
}
.icon-clipboard-text:before {
  content: "\e074";
}
.icon-clipboard:before {
  content: "\e075";
}
.icon-clock-24:before {
  content: "\e072";
}
.icon-clock:before {
  content: "\e073";
}
.icon-cloud:before {
  content: "\e900";
}
.icon-cloud-down:before {
  content: "\e06e";
}
.icon-cloud-up:before {
  content: "\e069";
}
.icon-cocktail:before {
  content: "\e076";
}
.icon-code:before {
  content: "\e077";
}
.icon-coffee:before {
  content: "\e97d";
}
.icon-coins:before {
  content: "\e079";
}
.icon-comment-happy:before {
  content: "\e07c";
}
.icon-comment-heart:before {
  content: "\e07d";
}
.icon-comment-more:before {
  content: "\e07e";
}
.icon-comment-sad:before {
  content: "\e07f";
}
.icon-comment-text:before {
  content: "\e080";
}
.icon-comment:before {
  content: "\e07a";
}
.icon-comments:before {
  content: "\e081";
}
.icon-container-three:before {
  content: "\e08e";
}
.icon-container-two:before {
  content: "\e08f";
}
.icon-container:before {
  content: "\e08d";
}
.icon-copy:before {
  content: "\e08c";
}
.icon-credit-card:before {
  content: "\e08b";
}
.icon-credit-card-alt:before {
  content: "\e909";
}
.icon-crosshairs:before {
  content: "\e089";
}
.icon-crop:before {
  content: "\e916";
}
.icon-css:before {
  content: "\e088";
}
.icon-cube:before {
  content: "\e087";
}
.icon-dashboard:before {
  content: "\e086";
}
.icon-data:before {
  content: "\e085";
}
.icon-desktop:before {
  content: "\e084";
}
.icon-discount:before {
  content: "\e905";
}
.icon-divider-line:before {
  content: "\e2db";
}
.icon-doc-check:before {
  content: "\e090";
}
.icon-doc-edit:before {
  content: "\e093";
}
.icon-doc-flag:before {
  content: "\e094";
}
.icon-doc-heart:before {
  content: "\e095";
}
.icon-doc-star:before {
  content: "\e096";
}
.icon-doc-text:before {
  content: "\e097";
}
.icon-dollar:before {
  content: "\e099";
}
.icon-drip:before {
  content: "\e09b";
}
.icon-download:before {
  content: "\e09a";
}
.icon-elipse-vert:before {
  content: "\e0a9";
}
.icon-elipse:before {
  content: "\e09c";
}
.icon-ellipse-horz-filled:before {
  content: "\e1c6";
}
.icon-ellipse-vert-filled:before {
  content: "\e1c5";
}
.icon-email-check:before {
  content: "\e0a7";
}
.icon-email-left:before {
  content: "\e0a6";
}
.icon-email-open:before {
  content: "\e0a5";
}
.icon-email-right:before {
  content: "\e0a4";
}
.icon-email-send:before {
  content: "\e0a3";
}
.icon-email-star:before {
  content: "\e0ac";
}
.icon-email-text:before {
  content: "\e0a1";
}
.icon-email:before {
  content: "\e0a8";
}
.icon-emails:before {
  content: "\e0a0";
}
.icon-entry-count:before {
  content: "\eb17";
}
.icon-eraser:before {
  content: "\e09e";
}
.icon-exclamation-circle-fill:before {
  content: "\e1d7";
}
.icon-exclamation-square:before {
  content: "\e09d";
}
.icon-eye-no:before {
  content: "\e0ae";
}
.icon-eye:before {
  content: "\e0ad";
}
.icon-facebook-solid-square:before {
  content: "\e0b0";
}
.icon-facebook-solid:before {
  content: "\e0af";
}
.icon-facebook-circle:before {
  content: "\e907";
}
.icon-filter:before {
  content: "\e1d9";
}
.icon-fireworks:before {
  content: "\e0b2";
}
.icon-flag-finish:before {
  content: "\e0b3";
}
.icon-flame:before {
  content: "\e0b4";
}
.icon-flash:before {
  content: "\e0b5";
}
.icon-flash-no:before {
  content: "\e0c3";
}
.icon-flip-horz:before {
  content: "\e917";
}
.icon-flip-vert:before {
  content: "\e918";
}
.icon-folder-heart:before {
  content: "\e0be";
}
.icon-folder-star:before {
  content: "\e0bc";
}
.icon-folder:before {
  content: "\e0c2";
}
.icon-folders:before {
  content: "\e0ba";
}
.icon-form:before {
  content: "\e1c4";
}
.icon-frown:before {
  content: "\e0c6";
}
.icon-gavel:before {
  content: "\e0c7";
}
.icon-gear-cogs:before {
  content: "\e0c9";
}
.icon-gear:before {
  content: "\e0c8";
}
.icon-gem:before {
  content: "\e0ca";
}
.icon-gift:before {
  content: "\e0cb";
}
.icon-globe-grid:before {
  content: "\e0cd";
}
.icon-globe-stand:before {
  content: "\e0ce";
}
.icon-globe:before {
  content: "\e0cc";
}
.icon-google-anal-solid:before {
  content: "\e0d0";
}
.icon-grid-4up:before {
  content: "\e0d6";
}
.icon-grid-box-4:before {
  content: "\e0d8";
}
.icon-grid-box:before {
  content: "\e0d7";
}
.icon-grid:before {
  content: "\e0d5";
}
.icon-hamburger:before {
  content: "\e0d9";
}
.icon-hammer:before {
  content: "\e0db";
}
.icon-headphones-mic:before {
  content: "\e0ea";
}
.icon-headphones:before {
  content: "\e0dd";
}
.icon-heart-broken:before {
  content: "\e0e8";
}
.icon-heart-filled:before {
  content: "\e1c1";
}
.icon-heart:before {
  content: "\e0e9";
}
.icon-home:before {
  content: "\e1ca";
}
.icon-hourglass:before {
  content: "\e0e5";
}
.icon-html:before {
  content: "\e0e4";
}
.icon-iframe:before {
  content: "\e0e3";
}
.icon-image:before {
  content: "\e0e2";
}
.icon-images:before {
  content: "\e0e1";
}
.icon-inbox-full:before {
  content: "\e0eb";
}
.icon-inbox:before {
  content: "\e0e0";
}
.icon-linkedin-solid-square:before {
  content: "\e0f1";
}
.icon-linkedin-solid:before {
  content: "\e0f0";
}
.icon-linkedin-circle-thin:before {
  content: "\e903";
}
.icon-info-circle:before {
  content: "\e0f3";
}
.icon-information-square:before {
  content: "\e0f4";
}
.icon-info-circle1:before {
  content: "\e908";
}
.icon-instagram-thick:before {
  content: "\e0f6";
}
.icon-instagram:before {
  content: "\e0f5";
}
.icon-key:before {
  content: "\e0f7";
}
.icon-keyboard:before {
  content: "\e104";
}
.icon-laptop:before {
  content: "\e103";
}
.icon-lifesaver:before {
  content: "\e0ff";
}
.icon-lightbulb:before {
  content: "\e0fe";
}
.icon-lightning-alt:before {
  content: "\e0fd";
}
.icon-link-broken:before {
  content: "\e0fb";
}
.icon-link-to-file:before {
  content: "\e1df";
}
.icon-link:before {
  content: "\e0fc";
}
.icon-list-alt:before {
  content: "\e1bd";
}
.icon-location-map:before {
  content: "\e105";
}
.icon-location:before {
  content: "\e0f8";
}
.icon-lock-unlocked:before {
  content: "\e107";
}
.icon-lock:before {
  content: "\e106";
}
.icon-login:before {
  content: "\e108";
}
.icon-logout:before {
  content: "\e109";
}
.icon-magnet:before {
  content: "\e10a";
}
.icon-mailchimp:before {
  content: "\e10b";
}
.icon-map-folded:before {
  content: "\e10c";
}
.icon-megaphone:before {
  content: "\e10e";
}
.icon-mic-old:before {
  content: "\e110";
}
.icon-minus-circle:before {
  content: "\e11d";
}
.icon-minus-square:before {
  content: "\e11c";
}
.icon-money-stack:before {
  content: "\e11b";
}
.icon-money:before {
  content: "\e11a";
}
.icon-mouse:before {
  content: "\e119";
}
.icon-move-broken:before {
  content: "\e117";
}
.icon-move-vert:before {
  content: "\e1cb";
}
.icon-move:before {
  content: "\e118";
}
.icon-music:before {
  content: "\e116";
}
.icon-new-window:before {
  content: "\e114";
}
.icon-newsletter-widget:before {
  content: "\e11e";
}
.icon-newsletter:before {
  content: "\e0b9";
}
.icon-no-send:before {
  content: "\e1d5";
}
.icon-paint-brush:before {
  content: "\e111";
}
.icon-paint-bucket:before {
  content: "\ea35";
}
.icon-paperclip:before {
  content: "\e120";
}
.icon-paperplane:before {
  content: "\e122";
}
.icon-paste:before {
  content: "\e123";
}
.icon-paypal:before {
  content: "\e126";
}
.icon-pencil:before {
  content: "\e12a";
}
.icon-phone-landscape:before {
  content: "\e129";
}
.icon-phone:before {
  content: "\e128";
}
.icon-pin:before {
  content: "\e137";
}
.icon-pinterest-solid-square:before {
  content: "\e134";
}
.icon-pinterest-solid:before {
  content: "\e135";
}
.icon-pinterest-circle:before {
  content: "\e906";
}
.icon-plaintext:before {
  content: "\e132";
}
.icon-play-circle:before {
  content: "\e130";
}
.icon-play-alt:before {
  content: "\e90b";
}
.icon-plus-circle:before {
  content: "\e12f";
}
.icon-plus-square:before {
  content: "\e12d";
}
.icon-podcast:before {
  content: "\ed2c";
}
.icon-poll-widget:before {
  content: "\e185";
}
.icon-popup:before {
  content: "\e12e";
}
.icon-printer:before {
  content: "\e12b";
}
.icon-publish:before {
  content: "\e1d2";
}
.icon-qr-code:before {
  content: "\e138";
}
.icon-question-circle:before {
  content: "\e139";
}
.icon-question-square:before {
  content: "\e13a";
}
.icon-question-fill:before {
  content: "\e90a";
}
.icon-quotes:before {
  content: "\e13b";
}
.icon-quote-comment:before {
  content: "\e90c";
}
.icon-radio-selected:before {
  content: "\e16e";
}
.icon-redo:before {
  content: "\e919";
}
.icon-redo-clockwise-dash:before {
  content: "\e13e";
}
.icon-redo-clockwise:before {
  content: "\e13c";
}
.icon-redo-counter-dash:before {
  content: "\e140";
}
.icon-redo-counter:before {
  content: "\e13f";
}
.icon-refresh-clockwise:before {
  content: "\e141";
}
.icon-refresh-counter:before {
  content: "\e142";
}
.icon-registered:before {
  content: "\e1cf";
}
.icon-retweet:before {
  content: "\e1be";
}
.icon-reuse:before {
  content: "\e143";
}
.icon-rocket:before {
  content: "\e14c";
}
.icon-rss:before {
  content: "\e1c2";
}
.icon-ruler:before {
  content: "\e14d";
}
.icon-scales:before {
  content: "\e145";
}
.icon-scissors:before {
  content: "\e152";
}
.icon-search-minus:before {
  content: "\e154";
}
.icon-search-plus:before {
  content: "\e155";
}
.icon-search:before {
  content: "\e153";
}
.icon-share-square:before {
  content: "\e1c0";
}
.icon-share:before {
  content: "\e156";
}
.icon-share-circle:before {
  content: "\e90d";
}
.icon-shield:before {
  content: "\e157";
}
.icon-shortstack:before {
  content: "\e158";
}
.icon-shuffle:before {
  content: "\e161";
}
.icon-sliders:before {
  content: "\e162";
}
.icon-smiley:before {
  content: "\e163";
}
.icon-snowflake:before {
  content: "\e164";
}
.icon-sort-horizontal:before {
  content: "\e165";
}
.icon-sort-up-down:before {
  content: "\e166";
}
.icon-sort-vertical:before {
  content: "\e167";
}
.icon-soundcloud:before {
  content: "\e168";
}
.icon-spacer:before {
  content: "\e1de";
}
.icon-speaker-mute:before {
  content: "\e16a";
}
.icon-speaker-up:before {
  content: "\e178";
}
.icon-square:before {
  content: "\e13d";
}
.icon-ssu:before {
  content: "\e914";
}
.icon-stacked:before {
  content: "\e176";
}
.icon-star-fill:before {
  content: "\e1d1";
}
.icon-star:before {
  content: "\e175";
}
.icon-stopwatch:before {
  content: "\e172";
}
.icon-storefront:before {
  content: "\e1da";
}
.icon-sun:before {
  content: "\e16f";
}
.icon-support-chat:before {
  content: "\e1d0";
}
.icon-tablet-landscape:before {
  content: "\e17a";
}
.icon-tablet:before {
  content: "\e179";
}
.icon-tag-plus:before {
  content: "\e1bf";
}
.icon-tag:before {
  content: "\e17b";
}
.icon-tags:before {
  content: "\e17c";
}
.icon-target-arrow:before {
  content: "\e17e";
}
.icon-test:before {
  content: "\e17f";
}
.icon-text-area:before {
  content: "\e1dc";
}
.icon-text-field:before {
  content: "\e1dd";
}
.icon-text-widget:before {
  content: "\e1c3";
}
.icon-thumbsup:before {
  content: "\e191";
}
.icon-thumbtack:before {
  content: "\e192";
}
.icon-ticket:before {
  content: "\e190";
}
.icon-tik-tok:before {
  content: "\e911";
}
.icon-tik-tok-circle:before {
  content: "\e912";
}
.icon-tik-tok-square:before {
  content: "\e913";
}
.icon-toggle-left-solid:before {
  content: "\e18b";
}
.icon-toggle-left:before {
  content: "\e18c";
}
.icon-toggle-right-solid:before {
  content: "\e189";
}
.icon-toggle-right:before {
  content: "\e18a";
}
.icon-toolbox:before {
  content: "\e187";
}
.icon-tools:before {
  content: "\e186";
}
.icon-tour-thin:before {
  content: "\e915";
}
.icon-trash-full:before {
  content: "\e194";
}
.icon-trash:before {
  content: "\e193";
}
.icon-tree:before {
  content: "\e195";
}
.icon-trophy:before {
  content: "\e196";
}
.icon-twitter-circle:before {
  content: "\e90e";
}
.icon-twitter-solid-square:before {
  content: "\e199";
}
.icon-twitter-solid:before {
  content: "\e198";
}
.icon-undo:before {
  content: "\e91a";
}
.icon-unpublish:before {
  content: "\e1d3";
}
.icon-upload:before {
  content: "\e19b";
}
.icon-user-circle:before {
  content: "\e19d";
}
.icon-user-delete:before {
  content: "\e19e";
}
.icon-user-heirarchy:before {
  content: "\e19f";
}
.icon-user-plus:before {
  content: "\e1b5";
}
.icon-user-share:before {
  content: "\e1b3";
}
.icon-user:before {
  content: "\e19c";
}
.icon-users:before {
  content: "\e1b1";
}
.icon-video-camera:before {
  content: "\e1ad";
}
.icon-video:before {
  content: "\e1af";
}
.icon-vimeo:before {
  content: "\e902";
}
.icon-vimeo-circle:before {
  content: "\e90f";
}
.icon-vimeo-square:before {
  content: "\e901";
}
.icon-vote:before {
  content: "\e1ab";
}
.icon-wallet:before {
  content: "\e1a9";
}
.icon-warning-circle:before {
  content: "\e1a7";
}
.icon-warning-triangle:before {
  content: "\e1a5";
}
.icon-watch:before {
  content: "\e1a3";
}
.icon-webpage-campaign:before {
  content: "\e1a0";
}
.icon-webpage-embed:before {
  content: "\e1b4";
}
.icon-webpage-plus:before {
  content: "\e1ae";
}
.icon-webpage:before {
  content: "\e1a1";
}
.icon-webpages:before {
  content: "\e1a8";
}
.icon-wine-full:before {
  content: "\e1a6";
}
.icon-x-circle:before {
  content: "\e1a4";
}
.icon-x-square:before {
  content: "\e000";
}
.icon-x:before {
  content: "\e1b8";
}
.icon-youtube-alt:before {
  content: "\eadf";
}
.icon-youtube-circle:before {
  content: "\e910";
}
.icon-youtube:before {
  content: "\e1c9";
}
